# Data description practice

Today we'll compute some descriptions of subsets of the Peterson & Barney data.

In [30]:
# Data IO and basic statistis.
import pandas
# For some higher-level statistics (like skew) not present in Pandas.
import scipy.stats

In [31]:
# Available from:
# http://wellformedness.com/courses/LING83800/Data/pb52.tsv
# Believe it or not, we can just put in the URL (with `http://` at the begining) and
# it works.
url = "http://wellformedness.com/courses/LING83800/Data/pb52.tsv"
pb52 = pandas.read_csv(url, sep="\t")
pb52.head()

  Type Sex  Speaker Vowel  Repetition   F0   F1    F2    F3
0    m   m        1     i           1  160  240  2280  2850
1    m   m        1     i           2  186  280  2400  2790
2    m   m        1     I           1  203  390  2030  2640
3    m   m        1     I           2  192  310  1980  2550
4    m   m        1     E           1  161  490  1870  2420

## Subsetting

In Pandas, we subset the data by placing a true/false "predicate" in square brackets. For instance, 
if we want to subset so as to only have the /i/ vowel, we can do:

In [32]:
# The vowel codes here are in in X-SAMPA:
# https://en.wikipedia.org/wiki/SAMPA_chart_for_English

i = pb52[pb52.Vowel == "i"]
# This prints out a summary of the numerial values.
# Note that it doesn't really understand that "Speaker" and "Repetition"
# aren't *really* numerical; the former is nominal and the latter is,
# at best, ordinal.
i.describe()

,Speaker,Repetition,F0,F1,F2,F3
count,152.000000,152.000000,152.000000,152.000000,152.000000,152.000000
mean,38.500000,1.500000,197.342105,301.263158,2648.355263,3238.289474
std,22.009932,0.501653,61.380056,59.823774,375.365507,379.263012
min,1.000000,1.000000,105.000000,190.000000,2000.000000,2600.000000
25%,19.750000,1.000000,135.000000,260.000000,2305.000000,2917.500000
50%,38.500000,1.500000,201.500000,300.000000,2700.000000,3190.000000
75%,57.250000,2.000000,245.000000,337.250000,2872.500000,3485.000000
max,76.000000,2.000000,344.000000,590.000000,3610.000000,4320.000000

**Exercise**: Build a subset of the P&B data that excludes the high vowels /i, ɪ, u, ʊ/. (You may have to look at the X-SAMPA chart.)

In [37]:
tense_vowel = frozenset(["i", "I", "u", "U"])
# Makes a list of True and False labels, then applies that "predicate" to the
# vector. Unfortunately `pb52[pb52.vowel in tense_vowel]` doesn't work
# the way we'd like it to.
gen = [vowel in tense_vowel for vowel in pb52.Vowel]
tense = pb52[gen]
# Note that the mean F1 is significantly higher, as high vowels have a low F1.
tense.describe()

,Speaker,Repetition,F0,F1,F2,F3
count,608.000000,608.000000,608.000000,608.000000,608.000000,608.000000
mean,38.500000,1.500000,199.074013,392.633224,1771.416118,2852.810855
std,21.955474,0.500412,62.375275,97.606337,781.325832,503.317340
min,1.000000,1.000000,100.000000,190.000000,570.000000,1850.000000
25%,19.750000,1.000000,140.000000,320.000000,1040.000000,2450.000000
50%,38.500000,1.500000,205.000000,391.000000,1705.000000,2802.500000
75%,57.250000,2.000000,250.000000,460.000000,2450.000000,3200.000000
max,76.000000,2.000000,350.000000,730.000000,3610.000000,4380.000000

## Description

**Exercise**: Compute the mean, median, and skew for each vowel.